#photogallery{
			display: grid;
			grid-template-columns: 33% 33% 33%;
			grid-template-rows: 100%;
			grid-gap: 10px;

		}
		.photo{
			border: 1px solid black;
			max-width: 87%;
			height:auto;
		}
		#photo1{
			background-image: url(https://images.pexels.com/photos/3669638/pexels-photo-3669638.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
			background-size: contain;
		}
		#photo2{
			background-image: url(https://images.pexels.com/photos/4022105/pexels-photo-4022105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
			background-size: cover;
		}
		#photo3{
			background-image: url(https://images.pexels.com/photos/5677793/pexels-photo-5677793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
			background-size: cover;
		}

		img {
			max-width: 100%;
			height: auto;
		}
