@import "layout.css";
@import "mystyle.css";
@import "viewport.css";

	p{  
			font-family: jaf-bernina-sans,sans-serif;
			font-weight: 100;
			font-style: normal;
			font-size: 120%;
			color: black;
		}

		ul{ 
			font-family: trade-gothic-next,sans-serif;
			font-weight: 300;
			font-style: normal;
			white-space: pre-line;
			font-size: 100%;
			list-style-type: none;
			text-decoration: none;
			text-align: justify;
			display: inline;
		}
