.box{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			border: 0px solid black;
			padding: 15px;

		}

		#header{
			display: flex;
			flex-wrap: wrap;
			grid-area: head;
			text-align: center;
			background-color: #557555;
			max-width: 87%;
		}

		#subhead{
			flex-direction: column;
			grid-area: subhead;
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			background-color: #6E736E;
			justify-content: center;
			width: 87%;
		}

		.subbox{
			border: 0px solid black;
			text-align: center;
			padding: 5px;
			font-size: 150%;
		}

		#logo{
			display: flex;
			flex-wrap: wrap;
			grid-area: foot;
			text-align: center;
			background-color: #6E707370;
		}

		#sidebar{
			display: flex;
			flex-direction: row;
			grid-area:links;
			align-items: center;
			background-color: #E9EDF2;
			width: 87%;
			height: auto;
			grid-gap: 5px;
		}

		.sidebox{
			display: flex;
			flex-direction: column;
			border: 0px solid black;
			padding: 1px;
			text-align: center;
			grid-gap: 10px;
		}

		#main{ 
			grid-area: main;
			background-color: #B8BFB810; 
			align-content: start;
			justify-items: start;
			height: min-content;
			grid-gap: 0px;
			width: 87%;
		}

		}
		#boxparagraph{
			display: grid;
			grid-template-columns: 60% auto;
			align-content: start;
			justify-content:start;
			border: 0px solid black;
			padding: 5px;
		}
		.boxcontent{
			padding: 10px;
			border: 0px solid indianred;
		}

		

		
		#title{
			max-width: 100%;
		}